NEXT_PUBLIC_API_URL=http://localhost:3001/api
NEXT_PUBLIC_WHATSAPP_NUMBER=5584999999999
NEXT_PUBLIC_PIX_KEY=chavepix
NEXT_PUBLIC_PIX_NAME=nome
NEXT_PUBLIC_PIX_CITY=cidade
BACKEND_URL=https://urldoback.com