
DATABASE_URL="mysql://root:suasenha@localhost:3306/seudb"
JWT_SECRET="chave-super-secreta"
ADMIN_EMAIL="email@emaildoadmin.com"
ADMIN_PASSWORD="senhadoadmin"
CLOUDINARY_CLOUD_NAME="name"
CLOUDINARY_API_KEY="123"
CLOUDINARY_API_SECRET="m3g4s3cr3t"