
DATABASE_URL="mysql://root:suasenha@localhost:3306/seudb"
JWT_SECRET="chave-super-secreta"
ADMIN_EMAILF="email1@emaildoadmin.com"
ADMIN_PASSWORDF="senhadoadmin1"
ADMIN_EMAILS="email2@emaildoadmin.com"
ADMIN_PASSWORDS="senhadoadmin2"
CLOUDINARY_CLOUD_NAME="name"
CLOUDINARY_API_KEY="123"
CLOUDINARY_API_SECRET="m3g4s3cr3t"
INFINITYPAY_HANDLE=seuusernoinfitypay
FRONTEND_URL=https://suaurl.com
EMAIL_USER="user@gmail.com"
EMAIL_PASS="me ga pa ss"
SELLER_EMAIL="vendedor@gmail.com"
TURSO_DATABASE_URL=url
TURSO_AUTH_TOKEN=token